<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://images.justwatch.com/backdrop/175706323/s640/moulin-rouge-amor-em-vermelho.%7Bformat%7D"
    alt=""
    height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus mollis lorem, a tristique justo dapibus sed. Praesent dapibus eleifend quam, eu mollis ante accumsan sit amet. Integer nec erat at urna luctus lobortis. Vivamus eu dignissim nunc, id pulvinar quam. Fusce sit amet orci iaculis, viverra ligula sed, tempus arcu. Vestibulum dignissim est id lectus ultricies blandit. Cras eget dui auctor, ultrices libero sed, sollicitudin mi. Nunc et nunc pretium, malesuada leo at, commodo lorem. In blandit neque ut ex tempor tempor quis sed nisl. Morbi non tempus lorem, eu finibus metus. Donec a diam efficitur, tristique urna vel, vulputate ipsum.
      </a>
    </p>
  </div>
</div>
