<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://images.justwatch.com/backdrop/175706323/s640/moulin-rouge-amor-em-vermelho.%7Bformat%7D"
    cardTitle="SATINE MORRE DE TUBERCULOSE"
    cardDescription="Grande estrela do famoso Moulin Rouge morre em apresentação após diagnostico de tuberculose">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://www.rbsdirect.com.br/imagesrc/24892335.jpg?w=1200&h=630&a=c&version=1575255600"
    cardTitle="BURLESQUE NA BROADWAY!"
    ></app-small-card>
    <app-small-card
    photoCover="https://www.justwatch.com/images/backdrop/37369487/s640/o-grande-showman/o-grande-showman"
    cardTitle="CRITICOS DA BROADWAY DETONAM THE GREATEST SHOWMAN"
    ></app-small-card>
    <app-small-card
    photoCover="https://m.media-amazon.com/images/M/MV5BYzVhMjAyZGItMWIwYy00YzM5LWE3ZTMtNjk4Yjk5ZmUxZjgyXkEyXkFqcGdeQXVyODkzNTgxMDg@._V1_.jpg"
    cardTitle="LIVE ACTION DE CATS ATINGE RECORDE DE REJEIÇÃO"
    ></app-small-card>
  </div>
</div>
